#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  /* Ajout dev ci dessous */
  display: flex;
  justify-content: center;
}

/* Ajout du contenu pour Modal dialog */
.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}


.sections-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
  max-height: calc(100vh - 20px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 100;
  padding: 10px;
}
/* Fin ajout du contenu pour Modal dialog */